import 'package:base_bloc/base_bloc.dart';
import 'package:meta/meta.dart';

@immutable
class ${bloc_camel_case}State extends BaseState {
    final error;
    final bool isLoading;

    ${bloc_camel_case}State({this.isLoading = false, this.error}):super([isLoading, error]);

    ${bloc_camel_case}State copyWith({bool isLoading, var error}) {
        return ${bloc_camel_case}State(
          isLoading: isLoading ?? this.isLoading,
          error: error ?? this.error,
        );
      }
}

